@import "../vendor/font-awesome/font-awesome";
@import "../vendor/ionicons/ionicons";
@import "../vendor/flaticon/flaticon";

@font-face { 
	font-family: 'Open Sans', sans-serif;
	src: url("../fonts/opensans/OpenSans-Regular.ttf") format('truetype'); 
}
@font-face { 
	font-family: 'Open Sans', sans-serif;
	src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype'); 
}